@media only screen and (max-width:1024px){
    .header-content{
        width: 1098px;
    }
    .fullScreenVideo {
        width: 1098px;
    }
    .fullScreenVideo video{
        width: 1000px;
        object-fit: cover;
    }
    .main-text {
        margin-left: 100px;
    }
    .container {
        width: 950px;
        margin-left: 150px;
        box-sizing: border-box;
    }
    .container .box {
        width: 400px;
    }
    .wine{
        width: 1098px;
    }
    .wine img{
        width: 700px;
    }
    .user{
        margin-left: 100px;
    }
    footer{
        width: 1098px;
    }
}